/*Lets CODE*/

*{
	background-image: url("assets/images/views.png");
}

p	{
	background-color: red;
}

h1	{
	color:	black;
	font-family: 'Courier New', Courier, monospace;
	font-size: 32px;
}

ul{
	list-style-type: none;
	display: inline;
}

/*.btn{
	border-radius: 10px;
	color:blue;
	background-color: aqua;
}*/

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fc3c4c;
  background-image: -webkit-linear-gradient(top, #fc3c4c, #d93434);
  background-image: -moz-linear-gradient(top, #fc3c4c, #d93434);
  background-image: -ms-linear-gradient(top, #fc3c4c, #d93434);
  background-image: -o-linear-gradient(top, #fc3c4c, #d93434);
  background-image: linear-gradient(to bottom, #fc3c4c, #d93434);
  text-decoration: